<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Alexandru Nedelcu</string>
	<key>description</key>
	<string>Emacs editor integration.</string>
	<key>name</key>
	<string>Emacs</string>
	<key>uuid</key>
	<string>06D52450-1E49-4CD5-B766-141746CFDA14</string>
</dict>
</plist>
